.card-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card-item {
	display: flex;
	flex-wrap: wrap;
	background: $white;
	border: solid 1px $black30;
	padding: $space / 2;
	width: 23%;
	margin: $space / 4;
}

.card-body {
	align-self: flex-start;
}

.card-footer {
	align-self: flex-end;
}

.card-detail {
	margin-bottom: $space / 4;
}

.card-detail-name {
	font-weight: 700;
	//line-height: 1.2em;
}