.cms-header {
	background: $orange;
	margin-bottom: $space / 1.5;
	padding: ($space * 2) 0;
	color: $white;

	h1 {
		text-align: center;
		font-weight: 300;
		margin-bottom: 0;
	}
}

.cms-main {
	min-height: 100vh;
	margin-bottom: $space * 1.5;
}

.cms-section-form {
	display: none;

	&.is-active {
		display: inline-block;
	}
}

.cms-save-order {

	@media #{$large} {
		float: right;
	}
}

.cms-modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	padding: $space 0;
	width: 100%;
	height: 100vh;
	opacity: 0;
	pointer-events: none;
	transition: all .3s ease;

	&.is-active {
		opacity: 1;
		pointer-events: auto;
	}
}

.cms-modal-dim {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.4);
}

.cms-modal-body {
	position: relative;
	z-index: 5;
	margin: 0 auto;
	width: 90%;
	max-width: 960px;
	padding: $space 0;
	background: $white;
}

.cms-modal-exit {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	width: $space * 2;
	height: $space * 1.5;
	background: $black;
	color: $white;
	border: none;
	cursor: pointer;
	outline: none;
	transition: all .2s ease;

	&:hover,
	&:focus {
		background: $orange;
	}
}

.cms-footer {
	padding: $space 0;
	background: $black70;
	color: $white;
	text-align: center;
}

.cms-footer-copyright  {
	margin-bottom: 0;
}
