.header {
	position: absolute;
	top: 0;
	left: 0;
	padding: 32px 0;
	z-index: 1;
	width: 100%;
	min-height: 45vh;
	background: $orange;
	box-sizing: border-box;
}

.logo {
	height: 70px;
	margin: 0 auto;

	a & {
		display: block;
	}
	
	@media #{$large}{
		margin: 0;
		float: left;
	}
}

.header-title--container {
	position: relative;
	text-align: center;
	margin: 20px 0 0 0;
	
	@media #{$large} {
		float: right;
		text-align: right;

		/* &:before {
			position: absolute;
			top: 18px;
			right: 105%;
			min-width: 150px;
			height: 1px;
			background: $white;
			content: '';
		} */
	}
}

.header-title {
	color: $white;
	margin-bottom: 0px;
	font-weight: 300;

	&.--sub {
		font-weight: 400;
	}
}