.blocklist-list {

}

.blocklist-item {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: $space / 2;
	padding: $space / 2;
	padding-left: $space * 2;
	background: $white;
	border: solid 1px $black30;
	
	&.--nohandle {
		padding: $space / 2;
	}

	p {
		margin-bottom: 0;
	}
}

.blocklist-handle {
	position: absolute;
	left: 0;
	top: 0;
	width: $space;
	height: 100%;
	padding: $space 0;
	border-right: solid 1px $black30;
	text-align: center;
	color: $black40;
	cursor: grab;
}

.blocklist-body {
	width: 100%;
	margin-bottom: $space / 2;
	
	@media #{$large} {
		width: auto;
		margin-bottom: 0;
	}
}

.blocklist-action {
	width: 100%;
	
	@media #{$large} {
		width: auto;
	}
}

.blocklist-detail {
	
}

.blocklist-name {
	font-weight: bold;
}