.back-button {
    position: absolute;
    overflow: hidden;
    top: 48px;
    left: -28px;
    z-index: 2;
    display: none;
    width: 56px;
    height: 56px;
    padding: 12px 0;
    text-align: center;
    background: $black;
    border-radius: 300px;
    color: $white;
    transition: all 0.4s ease;

    & i {
        transition: transform 0.3s ease;
        transform: translateX(20px);
        
        &:last-of-type {
            margin-left: 30px;
        }
    }

    &:hover, &:focus {
        background: darken($orange, 10%);
        color: $white;

        & i {
            transform: translateX(-24px);
        }
    }

    @media #{$large} {
        display: block;
    }

}

code {
  display: inline-block;
  padding: 0 4px;
  color: #f0f0f0;
  background: #1d1f21;
}

.section {
    margin-bottom: 56px;
    
    &:last-child {
        margin-bottom: 0;
    }

    h2 {
        position: relative;
        margin-bottom: 36px;

        &:after {
            position: absolute;
            bottom: -16px;
            left: 0;
            width: 72px;
            height: 1px;
            background: $orange;
            content: '';
        }
    }
}