.back-button {
    position: sticky;
    top: 48px;
    left: 0;
    z-index: 2;
    float: left;
    overflow: hidden;
    display: none;
    width: 56px;
    height: 56px;
    padding: 12px 0;
    text-align: center;
    background: $black;
    border-radius: 100px;
    color: $white;
    transform: translateX(-50%);
    transition: all 0.4s ease;

    & i {
        transition: transform 0.3s ease;
        transform: translateX(20px);

        &:last-of-type {
            margin-left: 30px;
        }
    }

    &:hover, &:focus {
        background: darken($orange, 10%);
        color: $white;

        & i {
            transform: translateX(-24px);
        }
    }

    @media #{$large} {
        display: block;
    }

}

code {
  display: inline-block;
  padding: 0 4px;
  color: #f0f0f0;
  background: #1d1f21;
}

.section {
    margin-bottom: $space * 3;

    &:last-child {
        margin-bottom: 0;
    }

    h2 {
        position: relative;
        margin-bottom: $space * 1.5;

        &:after {
            position: absolute;
            bottom: -($space / 1.5);
            left: 0;
            width: 72px;
            height: 1px;
            background: $orange;
            content: '';
        }
    }

    a {
        text-decoration: underline;
        color: $orange;
    }
}
