<html ng-app="cms">
	<head>
		<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="description" content="Suitmedia Front-end Standards CMS">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">

    <link rel="apple-touch-icon" href="img/apple-icon.png">
    <link rel="icon" type="image/png" href="img/favicon.png">
		
		<title>Suitmedia Front-End Standards CMS</title>

		<link rel="stylesheet" href="css/main.css">
	</head>
	<body ng-controller="moduleController" ng-init="init()"> 
	
		<header class="cms-header">
			<div class="container">
				<h1>Suitmedia Front-end Standards CMS | Module Editor</h1>
			</div>
		</header>
			
		<main class="cms-main">

			<nav class="tab-nav">
				<ul class="tab-nav-list list-nostyle list-inline">
					<li class="tab-nav-item" ng-class="{'is-active':isTabActive=='new'}" ng-click="isTabActive='new'">
						<a class="tab-nav-anchor" href="#!">New Module</a>
					</li>

					<li class="tab-nav-item" ng-repeat="section in sectionList" ng-class="{'is-active':isTabActive==section.id}" ng-click="changeTab(section.id)">
						<a class="tab-nav-anchor ng-cloak" href="#!">{{section.sectionHeader}}</a>
					</li>
				</ul>
			</nav>
				
			<div class="container">
				<div class="tab" ng-class="{'is-active':isTabActive=='new'}">
					<h2 class="cms-section-title">New Module</h2>
					<form ng-submit="postModule()">
						<div class="form__row">
							<label class="form-label" for="newModuleTitle">Title</label>
							<input class="form-input form-input--block" id="newModuleTitle" type="text" placeholder="Module Title" ng-model="newModule.name">
						</div>
						<div class="form__row">
							<label class="form-label" for="newModuleTitle">Section</label>
							<select class="form-input form-input--block" id="newModuleSection" ng-model="newModule.section">
								<option ng-repeat="section in sectionList" ng-value="section.id">{{section.sectionName}}</option>
							</select>
						</div>
						<div class="form__row">
							<label class="form-label" for="newModuleContent">Content</label>
							<textarea class="form-input form-input--block" id="newModuleContent" rows="10" placeholder="Module Content (on markdown format)" ng-model="newModule.content"></textarea>
						</div>
						<button type="submit" class="btn">Submit</button>
					</form>
				</div>

				<div class="tab" ng-repeat="section in sectionList" ng-class="{'is-active':isTabActive==section.id}">
					<h2 class="cms-section-title">Edit <span ng-bind="section.sectionName"></span></h2>
					<ul class="card-list list-nostyle">
						<li class="card-item" ng-repeat="module in moduleList">
							<div class="card-body">
								<p class="card-detail card-detail-name" ng-bind="module.name"></p>
								<p class="card-detail" ng-bind="module.url"></p>
							</div>
							<div class="card-footer">
								<button class="btn" ng-click="loadModal(module)">edit</button>
								<button class="btn" ng-click="deleteModule(module)">delete</button>
							</div>
						</li>
					</ul>
				</div>

				<div class="cms-modal" ng-class="{'is-active' : isModalActive}">
					<div class="cms-modal-dim"></div>
					<div class="cms-modal-body">
						<button class="cms-modal-exit" ng-click="dismissModal()">&times;</button>
						<div class="container">
							<form ng-submit="updateModule()">
								<label for="moduleTitle">Title</label>
								<input class="form-input form-input--block block" id="moduleTitle" type="text" placeholder="Module Title" ng-model="editModule.name">
								<label for="moduleSection">Section</label>
								<select class="form-input form-input--block block" id="moduleSection" ng-model="editModule.section">
									<option ng-repeat="section in sectionList" ng-value="section.id">{{section.sectionName}}</option>
								</select>
								<label for="moduleContent">Content</label>
								<textarea class="form-input form-input--block block" id="moduleContent" rows="10" placeholder="Module Content (on markdown format)" ng-model="editModule.content"></textarea>
								<button type="submit" class="btn btn--block">Save</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</main>

		<footer class="cms-footer">
			<p class="cms-footer-copyright">&copy;2017 Suitmedia</p>
		</footer>

		<script type="text/javascript" src="js/vendor/angular.min.js"></script>
		<script type="text/javascript" src="main.js"></script>
	</body>
</html>