<html ng-app="cms" ng-controller="mainController">
	<head>
		<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="description" content="Suitmedia Front-end Standards CMS">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">

    <link rel="apple-touch-icon" href="img/apple-icon.png">
    <link rel="icon" type="image/png" href="img/favicon.png">
		
		<title>Suitmedia Front-End Standards CMS</title>

		<link rel="stylesheet" href="css/main.css">
	</head>
	<body ng-controller="sectionController" ng-init="getSection()">
		
		<header class="cms-header">
			<button class="sidebar-trigger" ng-click="toggleSidebar()">
				<i class="fa fa-bars fa-2x"></i>
			</button>
			<div class="container">
				<h1 class="hide-on-small">Suitmedia Front-end Standards CMS | Section Editor</h1>
				<h1 class="hide-on-large">Section Editor</h1>
			</div>
		</header>

		<nav class="sidebar" ng-class="{'is-active': isSidebarActive}">
			<div class="sidebar-dim"></div>
			<button class="sidebar-close" ng-click="toggleSidebar()">&times;</button>
			<div class="sidebar-logo">
				<img src="img/favicon.png" alt="">
				<h3>Front-end Standards CMS</h3>
			</div>
			<ul class="sidebar-links list-nostyle">
				<li class="sidebar-item">
					<a class="sidebar-anchor" href="/module">Module Editor</a>
				</li>
				<li class="sidebar-item is-active">
					<a class="sidebar-anchor" href="/section">Section Editor</a>
				</li>
			</ul>
		</nav>

		<main class="cms-main">
			
			<nav class="tab-nav">
				<ul class="tab-nav-list list-nostyle list-inline">
					<li class="tab-nav-item" ng-class="{'is-active':isTabActive==='new'}" ng-click="isTabActive='new'">
						<a class="tab-nav-anchor" href="#!">New Section</a>
					</li>
					<li class="tab-nav-item" ng-class="{'is-active':isTabActive==='edit'}" ng-click="isTabActive='edit'">
						<a class="tab-nav-anchor" href="#!">Edit Section</a>
					</li>
				</ul>
			</nav>

			<div class="container">
				<div class="tab" ng-class="{'is-active':isTabActive==='new'}">
					<h2>New Section</h2>
					<form ng-submit="postSection()">
						<div class="form__row">
							<label class="form-label sr-only" for="sectionName">Section Name</label>
							<input class="form-input form-input--block" id="sectionName" type="text" placeholder="Section Name" ng-model="newInput.sectionName">
						</div>
						<div class="form__row">
							<label class="form-label sr-only" for="sectionHeader">Section Header</label>
							<input class="form-input form-input--block" id="sectionHeader" type="text" placeholder="Section Header" ng-model="newInput.sectionHeader">
						</div>
						<div class="form__row">
							<label class="form-label sr-only" for="route">Route</label>
							<input class="form-input form-input--block" id="route" type="text" placeholder="Route" ng-model="newInput.sectionId">
						</div>
						<div class="form__row">
							<label class="form-label sr-only" for="sectionIcon">Icon</label>
							<input class="form-input form-input--block" id="sectionIcon" type="text" placeholder="Icon" ng-model="newInput.sectionIcon">
						</div>
						<button class="btn btn--cms btn--block" ng-disabled="!newInput.sectionId || !newInput.sectionName || !newInput.sectionHeader || !newInput.sectionIcon">Create</button>
					</form>
				</div>
			
				<div class="tab" ng-class="{'is-active':isTabActive==='edit'}">
					<h2>Edit Section</h2>
					<ul class="blocklist list-nostyle">
						<li class="blocklist-item --nohandle" ng-repeat="section in sectionList">
							<div class="blocklist-body">
								<p>ID: <span ng-bind="section.id"></span></p>
								<p>Name: <span ng-bind="section.sectionName"></span></p>
								<p>Header: <span ng-bind="section.sectionHeader"></span></p>
								<p>Route: /<span ng-bind="section.sectionId"></span></p>
								<p>Icon: <span ng-bind="section.sectionIcon"></span></p>
								<form class="cms-section-form" ng-submit="editSection(section.id); showForm('')" ng-class="{'is-active':isFormActive===section.id}">
									<input class="form-input" type="text" placeholder="Section Name" ng-model="editInput.sectionName">
									<input class="form-input" type="text" placeholder="Section Header" ng-model="editInput.sectionHeader">
									<input class="form-input" type="text" placeholder="Route" ng-model="editInput.sectionId">
									<input class="form-input" type="text" placeholder="Icon" ng-model="editInput.sectionIcon">
									<button class="btn btn--cms" type="Submit">Save</button>
								</form>
							</div>
							<div class="blocklist-action">
								<button class="btn btn--cms" ng-click="showForm(section.id)" ng-hide="isFormActive===section.id">Edit</button>
								<button class="btn btn--cms" ng-click="deleteSection(section)" ng-hide="isFormActive===section.id">Delete</button>
							</div>
						</li>
					</ul>
				</div>

			</div>
		</main>
		
		<footer class="cms-footer">
			<p class="cms-footer-copyright">&copy;2017 Suitmedia</p>
		</footer>
	
		<script type="text/javascript" src="js/vendor/jquery.min.js"></script>
		<script type="text/javascript" src="js/vendor/jquery-ui.min.js"></script>
		<script type="text/javascript" src="js/vendor/angular.min.js"></script>
		<script type="text/javascript" src="js/vendor/angular-sortable.min.js"></script>
		<script type="text/javascript" src="main.js"></script>
	</body>
</html>